{% extends "base.html" %}
{% load static %}
{% block title %}StockMind - Cadastro de Peça{% endblock title %}
{% block content %}

<div class="peca-container">
    <div class="peca-card">
      <a href="{% url 'home' %}" class="btn-back">← Voltar para lista</a>
  
      <h2 class="peca-title">Cadastro de Item</h2>
  
      <form method="post" enctype="multipart/form-data" class="peca-form">
        {% csrf_token %}

        {% for field in form %}
        <p>
            {{ field.label_tag }}
            {{ field }}
        </p>
        {% endfor %}

          <button type="submit" id="button-create">Cadastrar</button>
      </form>

      {% if form.errors %}
        <div class="erros-form">
            {{ form.errors }}
        </div>
      {% endif %}
</div>

{% endblock content %}
