{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
    .botao-excluir {
        background-color: #e74c3c; /* vermelho forte */
        color: #fff;               /* texto branco */
        border: none;
        padding: 10px 20px;
        border-radius: 8px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
    }
    
    .botao-excluir:hover {
        background-color: #c0392b; /* vermelho mais escuro */
        transform: scale(1.05);    /* leve aumento ao passar o mouse */
    }
    
    .botao-cancelar {
        background-color: #95a5a6; /* cinza */
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 8px;
        font-size: 16px;
        text-decoration: none;
        margin-left: 10px;
        transition: background-color 0.3s;
    }
    
    .botao-cancelar:hover {
        background-color: #7f8c8d;
    }
    
</style>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="botao-excluir">Sim, excluir</button>
    <a href="{% url 'maquinas' %}" class="botao-cancelar">Cancelar</a>
</form>



{% endblock content %}