{% extends "base.html" %}
{% load static %}

{% block content %}
    
    <h1>Estoque Completo</h1>
    <form method="get">
        <input type="text" name="q" placeholder="Buscar item..." value="{{ request.GET.q }}">
        <button type="submit">🔍</button>
    </form>
    <div class="bloco-tabela">
        <div class="botoes">
            <button id="create-item-button" onclick="window.location.href='{% url 'cadastroItem' %}'">
                <img src="{% static "media/img/new-icon.png" %}" alt="Icone de novo">
                Novo
            </button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Quatidade</th>
                    <th>Marca</th>
                    <th>Fornecedor</th>
                    <th>Preço</th>
                    <th>Qtd. Min</th>
                    <th>Qtd. Max</th>
                    <th>Alterações</th>
                </tr>
            </thead>
            <tbody>
                {% for item in itens %}
                <tr>
                    <td class="status-td">
                        {% if item.quantidade > item.qtd_min %}
                            <img src="{% static 'media/img/icon-true.png' %}" alt="Icon True">
                        {% elif item.quantidade == item.qtd_min %}
                            <img src="{% static 'media/img/icon-neutro.png' %}" alt="Icon Neutro">
                        {% else %}
                            <img src="{% static 'media/img/icon-false.png' %}" alt="Icon False">
                        {% endif %}
                    </td>
                    <td>{{ item.codigo }}</td>
                    <td>{{ item.nome}}
                    <td>{{ item.descricao }}</td>
                    <td>{{ item.quantidade }}</td>
                    <td>{{ item.marca }}</td>
                    <td>{{ item.fornecedor }}</td>
                    <td>{{ item.preco }}</td>
                    <td>{{ item.qtd_min }}</td>
                    <td>{{ item.qtd_max }}</td>
                    <td>
                        <div class="icones-alteracao">
                            <a href="{% url 'editarItem' item.id %}"><img src="{% static 'media/img/icon-edit.png' %}" alt="Ícone edição"></a>
                            <a href="{% url 'excluirItem' item.id %}"><img src="{% static 'media/img/icon-delete.png' %}" alt="Ícone exclusão"></a>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">Nenhum produto em estoque.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="botoes">
            <button id="export-button">
                <img src="{% static "media/img/exportar.png" %}" alt="Icone de exportar">
                Exportar JSON
            </button>
        </div>
    </div>
    

{% endblock content %}
