{% extends "base.html" %}
{% load static %}
{% block title %}StockMind - Análises Dashboard{% endblock title %}

{% block content %}


<h1 class="titulo-pagina">Análises Dashboard</h1>
<p class="subtitulo-pagina">Explore suas análises de estoque em detalhes</p>

<div class="dashboard-container">
    <div class="content-wrapper">
        <div class="cards-grid">
            <div class="card card-consumo">
                <div class="icon-wrapper">
                    <img src="{% static 'media/img/icon-previsao.png' %}" alt="Ícone de Previsão de Consumo">
                </div>
                <h2>Previsão de Consumo</h2>
                <p>Analise tendências futuras e padrões de consumo dos seus itens. Tome decisões baseadas em dados.</p>
                <button class="btn-access btn-consumo" onclick="window.location.href='{% url 'previsao' %}'">
                    Ver Previsão
                </button>
            </div>

            <div class="card card-itens">
                <div class="icon-wrapper">
                    <img src="{% static 'media/img/icon-pizza.png' %}" alt="Ícone de itens mais usados">
                </div>
                <h2>Itens Mais Usados</h2>
                <p>Visualize quais são os itens mais movimentados do seu estoque e otimize seu controle.</p>
                <button class="btn-access btn-itens" onclick="window.location.href='{% url 'mais_usados' %}'">
                    Ver Gráfico
                </button>
            </div>
        </div>
        <div class="cards-grid">
            <div class="card card-maquinas">
                <div class="icon-wrapper">
                    <img src="{% static 'media/img/icon-pecaMaquinas.png' %}" alt="Ícone de máquinas">
                </div>
                <h2>Peças por Máquina</h2>
                <p>Visualize quantas peças cada máquina possui e obtenha uma visão clara da distribuição.</p>
                <button class="btn-access btn-maquinas" onclick="window.location.href='{% url 'dashboard_maquinas' %}'">
                    Ver Gráfico
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
