{% extends "base.html" %}
{% load static %}
{% block title %}Excluir usuários{% endblock %}

{% block content %}

    <div class="bloco-exclusao">
        <div class="mini-bloco-exclusao">
            <div class="btn-voltar-exclusao">
                <a href="{% url 'listar' %}">
                    <img src="{% static 'media/img/icon-voltar.png' %}" alt="Ícone de voltar">
                </a>
            </div>
    
            <h2>Excluir Usuário: {{ user.username }}</h2>
    
            <form method="post" action="{% url 'excluir' user.id %}">
                {% csrf_token %}
                <p>Tem certeza que deseja excluir o usuário "{{ user.username }}"?</p>
                <button id="btn-exclusao" type="submit">Confirmar Exclusão</button>
            </form>
        </div>
    </div>

{% endblock %}
