{% extends "base.html" %}
{% load static %}
{% block title %}Lista de Usuários{% endblock %}

{% block content %}
    <h1 id="lista-user-title">Lista de Usuários</h1>
    
    <div class="bloco-tabela">
        <div class="botoes">
            <button id="create-user-button" onclick="window.location.href='{% url 'cadastro' %}'">
                <img src="{% static "media/img/new-icon.png" %}" alt="Icone de novo">
                Novo
            </button>
        </div>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Superuser</th>
                    <th>Ativo</th>
                    <th>Último Login</th>
                    <th>Criado em</th>
                    <th>Alterações</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.is_superuser }}</td>
                        <td>{{ user.is_active }}</td>
                        <td>{{ user.last_login|date:"d/m/Y H:i" }}</td>
                        <td>{{ user.date_joined|date:"d/m/Y H:i" }}</td>
                        <td>
                            <div class="icones-alteracao">
                                <a href="{% url 'editar' user.id %}"><img src="{% static 'media/img/icon-edit.png' %}" alt="Ícone edição"></a>
                                <a href="{% url 'excluir' user.id %}"><img src="{% static 'media/img/icon-delete.png' %}" alt="Ícone exclusão"></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="botoes">
            <button id="export-button">
                <img src="{% static "media/img/exportar.png" %}" alt="Icone de exportar">
                Exportar JSON
            </button>
        </div>
    </div>
{% endblock %}
