<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{% block title %}StockMind{% endblock title %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "css/style.css" %}'>
    <link rel="icon" type="image/png" href="{% static 'media/img/favicon.png' %}">
</head>
<body>
    <!-- HEADER SUPERIOR -->
    <header class="header">
        <div class="esquerdo">
            <button id="toggle-btn" class="menu-btn">
                <img src="{% static 'media/img/sidebar-icon.png' %}" alt="Sidebar Icon">
            </button>

            <a href="{% url 'home' %}" class="logo">
                <img id="logo-id" src="{% static 'media/img/favicon.png' %}" alt="Logo">StockMind
            </a>
        </div>
         

        <div class="header-right">
            <!--<img id="icone-dark-light" src="{% static 'media/img/dark-light-mode.png' %}" alt="Modo claro/escuro">-->
            <button id="logout-button" onclick="window.location.href='{% url 'logout' %}'">
                <img src="{% static 'media/img/logout.png' %}" alt="Icone de logout">
                Sair
            </button>
        </div>

    </header>

    <!-- SIDEBAR LATERAL -->
    <nav class="sidebar" id="sidebar">
        <div class="sidebar-section">
            <a href="{% url 'home' %}" 
            class="sidebar-item {% if request.resolver_match.url_name == 'home' or request.resolver_match.url_name == 'cadastroItem' or request.resolver_match.url_name == 'editarItem' or request.resolver_match.url_name == 'excluirItem' %}active{% endif %}">
                <i class="icon"><img src="{% static 'media/img/icon-estoque.png' %}" alt="Icon de Estoque"></i>
                <span class="text">Estoque</span>
            </a>

            <a href="{% url 'maquinas' %}"
            class="sidebar-item {% if request.resolver_match.url_name == 'maquinas' or request.resolver_match.url_name == 'cadastro_maquina' or request.resolver_match.url_name == 'editar_maquina' or request.resolver_match.url_name == 'excluir_maquina' %}active{% endif %}">
                <i class="icon"><img src="{% static 'media/img/icon-maquinas.png' %}" alt="Icon de Estoque"></i>
                <span class="text">Máquinas</span>
            </a>

            <a href="{% url 'dashboard' %}" 
            class="sidebar-item {% if request.resolver_match.url_name == 'dashboard' or request.resolver_match.url_name == 'previsao' or request.resolver_match.url_name == 'mais_usados' or request.resolver_match.url_name == 'dashboard_maquinas' %}active{% endif %}">
                <i class="icon"><img src="{% static 'media/img/icon-dashboard.png' %}" alt="Icon de Dashboard"></i>
                <span class="text">Dashboard</span>
            </a>
        </div>

        {% if user.is_superuser %}
            <div class="sidebar-section">
                <div class="sidebar-title">Área administrativa</div>
                <div class="sidebar-title-abbr">A.D.</div>
                <a href="{% url 'auditoria_list' %}" 
                class="sidebar-item {% if request.resolver_match.url_name == 'auditoria_list' %}active{% endif %}">
                    <i class="icon"><img src="{% static 'media/img/icon-auditoria.png' %}" alt="Icon de Auditoria"></i>
                    <span class="text">Auditoria</span>
                </a>
                <a href="{% url 'listar' %}" 
                class="sidebar-item {% if request.resolver_match.url_name == 'listar' or request.resolver_match.url_name == 'cadastro' or request.resolver_match.url_name == 'editar' or request.resolver_match.url_name == 'excluir' %}active{% endif %}">
                    <i class="icon"><img src="{% static 'media/img/icon-usuarios.png' %}" alt="Icon de Usuário"></i>
                    <span class="text">Usuários</span>
                </a>
            </div>
        {% endif %}
    </nav>

    <!-- ÁREA PRINCIPAL DE CONTEÚDO -->
    <main class="main-content">
        {% block content %}{% endblock %}
    </main>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% if messages %}
    <script id="django-messages" type="application/json">
    [
    {% for message in messages %}
    {"message": "{{ message|escapejs }}", "tags": "{{ message.tags }}"}{% if not forloop.last %},{% endif %}
    {% endfor %}
    ]
    </script>
    {% endif %}

    <script src="{% static 'js/alerts.js' %}"></script>



</body>
</html>