<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "css/form.css" %}'>
    <link rel="icon" type="image/png" href="{% static 'media/img/favicon.png' %}">
</head>
<body>
    <header class="header-login">
        <img id="logo-id-login" src="{% static 'media/img/favicon.png' %}" alt="Logo"><h1>StockMind</h1>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>