{% extends "base.html" %}
{% load static %}
{% block title %}StockMind - Novo Usuário{% endblock title %}
{% block content %}

<div class="user-container">
  <div class="user-card">
    <a href="{% url 'listar' %}" class="btn-back">← Voltar para lista</a>

    <h2 class="user-title">Cadastrar Novo Usuário</h2>

    <form method="post" action="{% url 'cadastro' %}" class="user-form">
      {% csrf_token %}
      
      <div class="user-group">
        <label>Usuário (login)</label>
        {{ form.username }}
        <small class="user-hint">⚠️ O nome de usuário não pode conter espaços.</small>
      </div>

      <div class="user-group">
        <label>Nome completo</label>
        {{ form.full_name }}
      </div>

      <div class="user-group">
        <label>Senha</label>
        {{ form.password1 }}
      </div>

      <div class="user-group">
        <label>Confirmar senha</label>
        {{ form.password2 }}
      </div>

      <div class="user-group checkbox">
        {{ form.is_superuser }}
        <label for="{{ form.is_superuser.id_for_label }}">Usuário administrador?</label>
      </div>

      <button type="submit" class="user-submit">Cadastrar Usuário</button>
    </form>
  </div>
</div>

{% endblock content %}
